<h1>Haikus</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>haiku</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @haikus %>
  </tbody>
</table>

<br />

<%= link_to 'New Haiku', new_haiku_path %>
