
<div class="center hero-unit">
	<h1>Time for <%= link_to "Haikus", "http://haikuremixproject.com" %> </h1>
	<p class="hero-text">The Cold of Winter
	<br />
	So Overwhelming in Might
	<br />
	Still Recedes with Time.
	</p>

	<p>
		<%= link_to "Remix", "#", class: "btn btn-large btn-primary remix" %>
	</p>
</div>
